* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  min-height: 100vh;
  background-color: #e2d4ff;
  display: flex;
  justify-content: center;
  align-items: center;
}